<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSA Chat Web</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
</head>
<body style="text-align:center; font-family: Arial, sertif;">

    <div class="container">
        <div class="participant" id="alice" style="float: left; width: 50%;">
            <h3>Alice</h3>
            <p>Masukkan kunci P dan Q yang relatif prima</p>
            <div class="key-input">
                <p>Kunci P</p>
                <input type="text" id="pAlice" placeholder="p">
                <p>Kunci Q</p>
                <input type="text" id="qAlice" placeholder="q">
            </div>
            <button id="bangkitAlice">Bangkitkan kunci</button>
            <button id="kirimAlice">Kirim kunci publik</button>
            <div class="messages" id="messagesLeft" style="border-style: ridge;"></div>
            <div class="action" id="decryptButtonAlice" style="display: none;">
                <button id="decryptBtnAlice">Decrypt</button>
            </div>
            <div class="send-message" style="margin-top: 70px;">
                <input type="text" id="messageLeft" placeholder="Message">
                <input type="file" id="fileLeft" accept="*" onchange="fileSelected(this.files, 'Alice')">
                <button id="sendBtnLeft">Send</button>
            </div>
        </div>
    
        <div class="participant" id="bob" style="float: right; width: 50%;">
            <h3>Bob</h3>
            <p>Masukkan kunci P dan Q yang relatif prima</p>
            <div class="key-input">
                <p>Kunci P</p>
                <input type="text" id="pBob" placeholder="p">
                <p>Kunci Q</p>
                <input type="text" id="qBob" placeholder="q">
            </div>
            <button id="bangkitBob">Bangkitkan kunci</button>
            <button id="kirimBob">Kirim kunci publik</button>
            <div class="messages" id="messagesRight" style="border-style: ridge;"></div>
            <div class="action" id="decryptButtonBob" style="display: none;">
                <button id="decryptBtnBob">Decrypt</button>
            </div>
            <div class="send-message" style="margin-top: 70px;">
                <input type="text" id="messageRight" placeholder="Message">
                <input type="file" id="fileRight" accept="*" onchange="fileSelected(this.files, 'Bob')">
                <button id="sendBtnRight">Send</button>
            </div>
        </div>
    </div>
    

    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io.connect("http://localhost:5000")
            socket.on('connect', function(){
                socket.send("User connected!");
            });

            socket.on('message', function(data) {
                $('#messagesLeft').append($('<p>').text(data));
                $('#messagesRight').append($('<p>').text(data));

                if (data.startsWith('Alice')) {
                    $('#decryptButtonBob').show();
                } else if (data.startsWith('Bob')) {
                    $('#decryptButtonAlice').show();
                }
            });

            $('#sendBtnLeft').on('click', function(){
                var message = 'Alice'+ ': ' + $('#messageLeft').val();
                socket.send(message);
                $('#messageLeft').val('');
            })

            $('#sendBtnRight').on('click', function(){
                var message = 'Bob' + ': ' + $('#messageRight').val();
                socket.send(message);
                $('#messageRight').val(''); 
            })

            $('#bangkitAlice').on('click', function(){
                var message = "Bangkitkan kunci";
                socket.emit('bangkitAlice');
                alert("kunci Alice berhasil dibangkitkan");
            })

            $('#bangkitBob').on('click', function(){
                var message = "Bangkitkan kunci";
                socket.emit('bangkitBob');
                alert("kunci Bob berhasil dibangkitkan");
            })

            $('#decryptAlice').on('click', function(){
                var message = "Bangkitkan kunci";
                socket.emit('decryptAlice');
            })

            $('#decryptBob').on('click', function(){
                var message = "Bangkitkan kunci";
                socket.emit('decryptBob');
            })

            function fileSelected(files, sender) {
                var file = files[0];
                var reader = new FileReader();
                reader.onload = function(e) {
                    var fileData = e.target.result;
                    var message = sender + ': ' + file.name;
                    socket.emit('file', { message: message, data: fileData });
                };
                reader.readAsDataURL(file);
            }

            socket.on('file', function(data) {
                // Handle file reception
                var blob = new Blob([data], { type: 'application/octet-stream' });
                var url = URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = 'file_received';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
                URL.revokeObjectURL(url);
            });
        })
    </script>
</body>
</html>